{% extends "app/base.html" %}
{% block title %} Change Password{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Change Password</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            <label for="id_old_password">Old Password</label>
                            <input type="password" name="old_password" id="id_old_password" class="form-control">
                            {% if form.old_password.errors %}
                                <small id="id_old_password_help" class="form-text text-danger">{{ form.old_password.errors }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_new_password1">New Password</label>
                            <input type="password" name="new_password1" id="id_new_password1" class="form-control">
                            {% if form.new_password1.errors %}
                                <small id="id_new_password1_help" class="form-text text-danger">{{ form.new_password1.errors }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_new_password2">Confirm New Password</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control">
                            {% if form.new_password2.errors %}
                                <small id="id_new_password2_help" class="form-text text-danger">{{ form.new_password2.errors }}</small>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}